otp_path:
  - "/usr/local/lib/erlang"
apps_dirs:
  - "src"
deps_dirs:
  - "deps/*"
diagnostics:
  enabled:
    - crossref
  disabled:
    - dialyzer
include_dirs:
  - "include"
  - "deps/*/include"
code_path_extra_dirs:
  - "deps/*/include"
lenses:
  enabled:
    - ct-run-test
  disabled:
    - show-behaviour-usages
