{erl_opts, [
  {parse_transform, lager_transform},
  {i, "include"},
  debug_info]}.

{deps, [
  lager,
  {uuid, ".*",{git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {erlog, {git, "https://netboz@bitbucket.org/netboz/erlog_bbs.git", {branch, "master"}}}
]}.


{shell, [
  {config, "config/app.config"} ,
  {vm_args, "config/vm.args"}
  ]}.

{relx, [{release, {bbs, "0.0.1"},
         [
          kernel,
          stdlib,
          sasl,
          lager,
          uuid,
          erlog,  
          bbs       
        ]},
     
        {dev_mode, true},
        {include_erts, false},
        {vm_args, "config/vm.args"},
        {sys_config, "config/app.config"},
        {extended_start_script, true}]}.


