{erl_opts, [
  debug_info,
  warnings_as_errors,
  nowarn_deprecated_function,
  {platform_define, "^[0-9]+", namespaced_types},
  {parse_transform, lager_transform}]}.

{dialyzer_base_plt_apps, [kernel, stdlib, erts, sasl, eunit, syntax_tools, compiler, crypto]}.

{xref_checks, [undefined_function_calls]}.

{eunit_opts, [verbose, {report,{eunit_surefire,[{dir,"."}]}}]}.

{edoc_opts, [{preprocess, true}]}.



{deps, [
  {lasp, {git, "https://gitlab.com/yan.guiborat1/lasp.git", {branch, "master"}}},
  {erleans, {git, "https://github.com/erleans/erleans.git"}},
  lager, 
  eredis, 
  quickrand,
  {uuid, {git, "https://github.com/okeuday/uuid.git"}},
  {emqtt, {git, "https://github.com/emqx/emqtt.git"}}, 
  {erlog, {git, "https://gitlab.com/yan.guiborat1/erlog_bbs.git"}}]}.

{shell, [
    {config, "config/dev.config"},
    {dev_mode, false},
    {apps, [partisan, lasp, erleans, quickrand, bbs]}
]}.

{plugins, [rebar3_hex]}.


{relx, [{release, {test_tel, "0.11.0"},
         [bbs, erlog]},

        {dev_mode, false},
        {include_erts, false},

        {extended_start_script, true}]}.

{elvis,
 [#{dirs => ["src"],
       filter => "*.erl",
       rules => [
                 %% {elvis_style, line_length,
                 %%  #{ignore => [],
                 %%    limit => 80,
                 %%    skip_comments => false}},
                 {elvis_style, no_tabs},
                 {elvis_style, no_trailing_whitespace},
                 {elvis_style, macro_names, #{ignore => []}},
                 %% {elvis_style, macro_module_names},
                 {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                            {right, "++"},
                                                            {left, "++"}]}},
                 %% {elvis_style, nesting_level, #{level => 3}},
                 {elvis_style, god_modules,
                  #{limit => 25,
                    ignore => []}},
                 {elvis_style, no_if_expression},
                 %% {elvis_style, invalid_dynamic_call, #{ignore => []}},
                 {elvis_style, used_ignored_variable},
                 {elvis_style, no_behavior_info},
                 {
                   elvis_style,
                   module_naming_convention,
                   #{regex => "^[a-z]([a-z0-9]*_?)*(_SUITE)?$",
                     ignore => []}
                 },
                 {
                   elvis_style,
                   function_naming_convention,
                   #{regex => "^([a-z][a-z0-9]*_?)*$"}
                 },
                 {elvis_style, state_record_and_type},
                 {elvis_style, no_spec_with_records}
                 %% {elvis_style, dont_repeat_yourself, #{min_complexity => 10}}
                 %% {elvis_style, no_debug_call, #{ignore => []}}
                ]
      },
     #{dirs => ["."],
       filter => "Makefile",
       rules => []
      },
     #{dirs => ["."],
       filter => "rebar.config",
       rules => []
      }
    ]
}.