{erl_opts, [
  {parse_transform, lager_transform},
  {i, "include"},
  debug_info]}.

{deps, [
  lager,
  {grpcbox,  {git, "https://github.com/tsloughter/grpcbox.git", {branch, "master"}}},
  {uuid, ".*", {git, "https://github.com/avtobiff/erlang-uuid.git", "master"}},
  {zuuid, "*", {git, "https://gitlab.com/zxq9/zuuid.git", "master"}},
  {erlog, {git, "git@bitbucket.org:netboz/erlog_bbs.git", {branch, "test"}}},
  {gproc, {git, "https://github.com/uwiger/gproc.git", {branch, "master"}}}

  %{grpc_server, {git, "https://github.com/bluehouse-technology/grpc"}},
  %{grpc_client, {git, "https://github.com/Bluehouse-Technology/grpc_client"}}

  ]}.

{grpc, [{protos, "priv/protos"},
  {gpb_opts, [ {gpb, [{type_specs, false}]}, {module_name_suffix, "_pb"}]}]}.

{plugins, [grpcbox_plugin]}.

{shell, [
  {config, "config/app.config"} ,
  {vm_args, "config/vm.args"}
  ]}.

{dist_node, [
  {setcookie, 'bbs'},
  {sname, 'bbs@localhost'}
  ]}.


{relx, [{release, {bbs, "0.0.1"},
         [
          kernel,
          stdlib,
          sasl,
          lager,
          uuid,
          erlog,
          grpcbox,
          bbs
        ]},

        {dev_mode, true},
        {include_erts, false},
        {vm_args, "config/vm.args"},
        {sys_config, "config/app.config"},
        {extended_start_script, true}]}.


