[
     {bbs, [
        {ontologies, [
          {<<"bbs:bubble">>, [{file, "ont_bbs_bubble.pl"}], []},
          {<<"bbs:brain_tests">>, [{file, "ont_bbs_brain_test.pl"}], []},
          {<<"bbs:agent">>, [{file, "ont_bbs_agent.pl"}], [ont_bbs_agent]}
        ]}
        ]
    },
    {lager, [
        {log_root, "log"},
        {colored, true},
        {error_logger_hwm, 150},
        {handlers, [
            {lager_console_backend, [{level, debug}]},

          {lager_file_backend, [{file, "error.log"}, {level, error}]},
          {lager_file_backend, [{file, "console.log"}, {level, info}]}
          ]}

      ]},
  {grpcbox, [{client, #{channels => [{default_channel, [{http, "localhost", 5000, []}], #{}}]}},
    {server, [#{
      grpc_opts => #{service_protos => [acc_service_pb],
        services => #{'eGem.acc_service' => e_gem_acc_service}},
      server_opts => #{header_table_size => 4096,
        enable_push => 1,
        max_concurrent_streams => unlimited,
        initial_window_size => 65535,
        max_frame_size => 16384,
        max_header_list_size => unlimited},
      listen_opts => #{port => 4242,
        ip => {0,0,0,0}}
    }]}]}
].
