[
  {bbs, [
    {ontologies, [
      {<<"bbs:root">>, [{file, "ont_bbs_root.pl"}], []},
      {<<"bbs:agent">>, [{file, "ont_bbs_agent.pl"}], [ont_bbs_agent]},
      {<<"bbs:bubble">>, [{file, "ont_bbs_bubble.pl"}], [ont_bbs_bubble]},
      {<<"bbs:brain_tests">>, [{file, "ont_bbs_brain_test.pl"}], []},
      {<<"bbs:brain_tests:data">>, [{file, "ont_bbs_brain_test_data.pl"}], []},
      {<<"bbs:mts:client:gproc">>, [{file, "ont_bbs_mts_client_gproc.pl"}], [ont_bbs_mts_client_gproc]}
    ]}]},

    {gproc,
    [
      {gproc_dist, all}]},
      {server_options, [{priority, max}]}
    ].
