[
{bbs,[
  {ontologies, [
    {<<"bbs:root">>, [{file, <<"ont_bbs_root.pl">>}], []},
    {<<"bbs:agent">>, [{file, <<"ont_bbs_agent.pl">>}], [ont_bbs_agent]},
    {<<"bbs:bubble">>, [{file, <<"ont_bbs_bubble.pl">>}], [ont_bbs_bubble]},
    {<<"bbs:mts:client:mqtt">>, [{file, <<"ont_bbs_mts_client_mqtt.pl">>}], [ont_bbs_mts_client_mqtt]}
    ]}
  ]},
{lager, 
  [{colored, true},
  {handlers,  [
    {lager_console_backend, [{level, debug}, {formatter, lager_default_formatter},
      {formatter_config, [date, " ", time, " ", color, "[", severity, "] ",
            {pid, ""},
            {module, [
                    {pid, [" "], ""},
                    module,
                    {line, [":",line], ""}], ""},
            "\t", message, "\n"]}]},
    {lager_file_backend, [{file, "error.log"}, {level, error}, {formatter, lager_default_formatter},
      {formatter_config, [date, " ", time," [",severity,"] ",pid, " ", message, "\n"]}]},
    {lager_file_backend, [{file, "console.log"}, {level, info}]}
  ]} ]},
  {erleans, [{providers, #{in_memory => #{module => erleans_provider_ets,
                                         args => #{}}}},
            {default_provider, in_memory}
           ]},

 {lasp, [{membership, true},
         {storage_backend, lasp_ets_storage_backend},
         {mode, delta_based},
         {delta_interval, 1000}]},

 {plumtree, [{broadcast_exchange_timer, 60000},
             {broadcast_mods, [lasp_plumtree_backend]}]},

 {partisan, [%{peer_port, 10200},
             {pid_encoding, false},

             {partisan_peer_service_manager,
              partisan_pluggable_peer_service_manager}]}
].
